body {
    background: whitesmoke;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

.content-view {
    min-height: 100vh;
}

#header {
    background-color: #47143d;  /* #fedbd0  , #442c2e*/
    text-align: center;
    color: #b99750;
    width: 100%;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}



.upload_form{
    width: 500px;
    height: 200px;
    background-color: #dce1e3;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form{
    padding: 40px;
    font-size: 30px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.form button {
    margin-top: 20px;
    border-color: transparent;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: #b99750;
    color: #47143d;
    font-size: 30px;
}

#videoUpload:hover{
    background-color: #47143d;
    color: #b99750;
}

#prediction_pane {
    margin: auto;
    text-align: center;
}

#prediction_pane h1 {
    color: #47143d;
}

.pred_img {
    overflow-x: scroll;
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #dce1e3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pred_img img {
    display: inline-block;
    margin: 2px;
}

.pred_img img:hover {
    transform: scale(1.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.real_image {
    border: 5px solid #4CAF50;
}

.fake_image {
    border: 5px solid #f44336;
}

.label-real{
    margin-top: 50px;
    color: white;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    background-color: #4CAF50;
    font-size: 40px;
}

.label-fake {
    margin-top: 50px;
    color: white;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    background-color: #f44336;
    font-size: 40px;
}

.footer {
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background-color: #b99750;
}